be/bin/
be/obj/
be/*.user
be/*.suo
be/*.userosscache
be/*.sln.docstates
be/.vs/
be/.vscode/
be/*.db
be/*.log

be/Migrations/*
be/Migrations/*Designer.cs
be/Migrations/*Snapshot.cs

be/appsettings.Development.json

be/appsettings.json

fe/node_modules/
fe/dist/
fe/.env
fe/.env.*

.DS_Store
Thumbs.db

*.log

.vscode/
.env