@tailwind base;
@tailwind components;
@tailwind utilities;
#root {
  min-height: 100vh;
  background-color: #0d1224;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.custom-scrollbar {
  scroll-behavior: smooth;
  overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 0px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #b3b3b3;
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #888;
}
